.text-notFound {
    margin-top: 64px;
    font-size: 38px;
    font-weight: 500;
    line-height: 46px;
    color: var(--text-colour-secondary);
    margin-left: 90px;
}

@media screen and (max-width: 768px) {
    .text-notFound {
        margin-top: 32px;
        font-size: 24px;
        line-height: 32px;
        margin-left: 20px;
    }
}